body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(131, 131, 131);
}

.MuiContainer-root {
  margin-top: 50px;
}

.MuiButton-root {
  margin-top: 10px;
}

.MuiListItemText-root {
  text-transform: capitalize;
}

.container {
  background-color: rgb(194, 194, 194);
  padding: 16px; 
  border: 2px solid #f3c7c7; 
  border-radius: 8px; 
}

